body {
    background-color: pink;


    background-repeat: no-repeat;
    image-orientation: from-image;
}


.title {
    text-align: center;
    font-size: 20px;
    padding: 0 20px;
    padding-top: 10px;

}

.container {
    background-color: white;
    width: 700px;
    height: 450px;
    margin: 100px auto 0;
}

.centre {
    border: black;
}

#email {
    width: 500px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
}

#username {
    width: 500px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
}

#password {
    width: 500px;
    height: 40px;
    padding: 10px;
    font-size: 16px;

}



.button {
    background-color: palevioletred;
    width: 150px;
    height: 50px;
    color: white;
    text-align: center;
    line-height: 50px;
    margin: auto;
    border-radius: 20px;
    transition-duration: 0.4s;
}

.logo {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;


}